
div.img{
	margin: 500px;
	border: 2px solid;
	border-radius: 15px;
	margin-top: 50px;
	padding-bottom: 20px ;
}
div.float{
	float: right;
	}
p.A{
	
	}
	p.B{
		float: right;
		border-radius: 20px;
		border: 2px solid;
		padding: 10px;
	}